<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="./header.css" type="text/css">
    <title>Document</title>
</head>

<header>
	<nav class="site-nav">
		<img src="../img/icons/Icon-HamMenu.svg" alt="nav button" class="HamMenu-Button">
		<div class="HamMenu">
			<ul class="cat-icons">
				<li><img src="../img/icons/Icon-Home.svg" alt="home button"></li>
				<li><img src="../img/icons/Icon-Accion.svg" alt="Accion button"></li>
				<li><img src="../img/icons/Icon-Aventura.svg" alt="Aventura & RPG button"></li>
				<li><img src="../img/icons/Icon-Clasicos.svg" alt="Clasicos button"></li>
				<li><img src="../img/icons/Icon-Deportes.svg" alt="Deportes & Carreras button"></li>
				<li><img src="../img/icons/Icon-Estrategia.svg" alt="Estrategia & Defensa button"></li>
				<li><img src="../img/icons/Icon-Multiplayer.svg" alt="Multijugador button"></li>
				<li><img src="../img/icons/Icon-Novedades.svg" alt="Novedades button"></li>
			</ul>
			<ul class="cat-names">
				<li><a href="#">Home</a></li>
				<li><a href="#">Accion</a></li>
				<li><a href="#">Aventura & RPG</a></li>
				<li><a href="#">Clasicos</a></li>
				<li><a href="#">Deportes & Carreras</a></li>
				<li><a href="#">Estrategia & Defensa</a></li>
				<li><a href="#">Multijugador</a></li>
				<li><a href="#" class="featured">Novedades</a></li>
			</ul>
		</div>
	</nav>
	<div>
		<img src="../img/icons/Img-Logo.svg" alt="Logo WASD Games" class="logo">
	</div>
	<div class="search-bar">Buscar otro juego</div>
	<nav class="user-nav">
			<input type="checkbox" id="checkUsr">
			<label for="checkUsr" class="usr-btn"> ☰ </label>
			  <ul class="nav-menu-usr">
				<li><a href="#">Link 1</href></a></li>
				<li><a href="#">Link 2</href></a></li>
				<li><a href="#">Link 3</href></a></li>
				<li><a href="#">Link 4</href></a></li>
			  </ul>
	</nav>
  </header>

  <header class="header">
	<section class="container-nav-bar">
	  <nav class="bar-nav">     
		  <div>
			<img src="./img/logo.png" alt="logo WASD games" class="logo">
		  </div>          
		  <input type="checkbox" id="check">
		  <label for="check" class="bar-btn"> ☰ </label>
		  <ul class="nav-menu">
			<li><input id="check-menu-deployed" type="checkbox">
			  <label for="check-menu-deployed">Show</label>
				<ul class="nav-menu-deployed">
				  <li><a href="#" class="nav-menu-deployed">Link 5</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 6</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 7</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 8</a></li>
				</ul>
			</li>
			<li><input id="check-menu-deployed" type="checkbox">
			  <label for="check-menu-deployed" >Show1</label>
				<ul class="nav-menu-deployed">
				  <li><a href="#" class="nav-menu-deployed">Link 5</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 6</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 7</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 8</a></li>
				</ul></li>
			<li><input id="check-menu-deployed" type="checkbox">
			  <label for="check-menu-deployed" >Show2</label>
				<ul class="nav-menu-deployed">
				  <li><a href="#" class="nav-menu-deployed">Link 5</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 6</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 7</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 8</a></li>
				</ul></li>
			<li><input id="check-menu-deployed" type="checkbox">
			  <label for="check-menu-deployed" >Show3</label>
				<ul class="nav-menu-deployed">
				  <li><a href="#" class="nav-menu-deployed">Link 5</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 6</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 7</a></li>
				  <li><a href="#" class="nav-menu-deployed">Link 8</a></li>
				</ul></li>
		  </ul>
	  </nav>  
	  <nav class="usr-nav">
			<input type="checkbox" id="checkUsr">
			<label for="checkUsr" class="usr-btn"> ☰ </label>
			  <ul class="nav-menu-usr">
				<li><a href="#">Link 1</href></a></li>
				<li><a href="#">Link 2</href></a></li>
				<li><a href="#">Link 3</href></a></li>
				<li><a href="#">Link 4</href></a></li>
			  </ul>
		</nav>
	</section> 
  </header>

  </html>