/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

h1, h2, h3, p, a{
    color:#FFFFFF;
}

.juego-recomendado .contenedor-card-small .datos-juego-small h3,
.juego-accion .contenedor-card-small .datos-juego-small h3,
.juego-multijugador .contenedor-card-small .datos-juego-small h3,
.juego-deportes .contenedor-card-small .datos-juego-small h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center; 
}

.juego-recomendado .contenedor-card-small .datos-juego-small p,
.juego-accion .contenedor-card-small .datos-juego-small p,
.juego-multijugador .contenedor-card-small .datos-juego-small p,
.juego-deportes .contenedor-card-small .datos-juego-small p{
    font-weight: lighter;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    padding-bottom: 15px;
    font-style: normal;
}

.juego-recomendado .contenedor-card-small .datos-juego-small h2,
.juego-accion .contenedor-card-small .datos-juego-small h2,
.juego-multijugador .contenedor-card-small .datos-juego-small h2,
.juego-deportes .contenedor-card-small .datos-juego-small h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    margin-right: 40px;
}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
}

.juego-recomendado .contenedor-card-small,
.juego-accion .contenedor-card-small,
.juego-multijugador .contenedor-card-small,
.juego-deportes .contenedor-card-small{
    padding: 40px;
    overflow: hidden;    
    justify-content: center;
    display: flex;
}

.juego-recomendado .card-small,
.juego-accion .card-small,
.juego-multijugador .card-small,
.juego-deportes .card-small {
    /*position: absolute;*/
    display: block;
    width: 300px;
    height: 450px;
    border:#FFFFFF;
    border-radius: 23px;
    border-width: 3px;
    border-style: solid;
    
    background: #0C0228;
}

.juego-recomendado .card-small .img-juego-small img,
.juego-accion .card-small .img-juego-small img,
.juego-multijugador .card-small .img-juego-small img,
.juego-deportes .card-small .img-juego-small img{
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    height: 234px;
    width: 296px;
    position: initial;
    object-fit:cover;
    background: #0C0228;
}

.juego-recomendado .contenedor-card-small button,
.juego-accion .contenedor-card-small button,
.juego-multijugador .contenedor-card-small button,
.juego-deportes .contenedor-card-small button{
    /*position: absolute;*/
    left: 44.33%;
    right: 5.67%;
    top: 86%;
    bottom: 2.89%;
    background: #7B5BCD;
    border-radius: 10px;
    font-size:x-large;
    font-weight: 700;
}