/*CSS RESET*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');


:root {
  --Font-Type: 'Inter';
  --Color-Primary:#EA7400;
  --Color-PrimaryS1:#AE5600;
  --Color-PrimaryS2:#6B3500;
  --Color-PrimaryS3:#2D1600;
  --Color-PrimaryL1:#FF8F20;
  --Color-PrimaryL2:#FFAF60;
  --Color-PrimaryL3:#FFDFBF;
  --Color-Secondary:#360EA1;
  --Color-SecondaryS1:#270977;
  --Color-SecondaryS2:#17034A;
  --Color-SecondaryS3:#0C0228;
  --Color-SecondaryL1:#542AC0;
  --Color-SecondaryL2:#7B5BCD;
  --Color-SecondaryL3:#C4B2F0;
  --Color-Accent:#7CD600;
  --Color-AccentS1:#5C9F00;
  --Color-AccentS2:#396200;
  --Color-AccentS3:#172800;
  --Color-AccentL1:#96EE1E;
  --Color-AccentL2:#B2F25B;
  --Color-AccentL3:#E4FFBF;
  --Color-Grey:#555555;
  --Color-GreyS1:#333333;
  --Color-GreyS2:#111111;
  --Color-GreyS3:#060606;
  --Color-GreyL1:#777777;
  --Color-GreyL2:#999999;
  --Color-GreyL3:#F1F1F1;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

h1, h2, h3, p, a, li{
  color:var(--Color-GreyL3);
}

li {
  font-size: small;
}

body, input, textarea, button{
  font-family: var(--Font-Type, sans-serif);/* esto esta asi porque sino el boton no heredaba el font */
}

body {
  margin:0;
  background: #0C0228;
}

/*GRID*/
body{
  /*width: 90%;
  max-width: 1064px;
  margin: 20px 50px;*/
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 70px 1140px 70px;
  justify-content: center;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:  "header header header"
                        "novedades novedades novedades"
                        ". contenedor ."
                        "footer footer footer";
}

.contenedor-novedades{
  grid-area: novedades;
}
.contenedor{
  grid-area: contenedor;
}
.footer{
  grid-area: footer;
}

.header{
  grid-area: header;
}



/*------------------------------HEADER--------------------------------------------*/
header {
  width: 100%;
  height: 100%;
  background-color: var(--Color-Primary);
  background-position: center;
  background-size: cover;
  grid-area: header;
}

.container-nav-bar{
  display: flex;
  justify-content: space-evenly;

}

.bar-nav, .usr-nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.usr-nav{  
  justify-content: end;
}


.logo {
  width: 100px;
  margin-left: 0px;
  opacity: 25%;
}

.bar-btn, .usr-btn{
  font-size: 25px;
  color: #FFFFFF;
  margin-left: 20px;
  cursor: pointer;
  position: absolute;
}

.usr-btn{
  margin-right: 20px;
}

.nav-menu, .nav-menu-usr {
  position: absolute;
  width: 30%;
  height: 0vh;
  top: 100px;
  background: rgba(0,0,0,.95);
  text-align: left;
  transition: all;
  z-index: 5000;
}
.nav-menu{
  width: auto;
}

ul.nav-menu-deployed{
  position: absolute;
  width: 200%;
  margin-left: 75px;
  height: 0vh;
  top: 0px;
  background: rgba(0,0,0,.95);
  text-align: left;
  transition: all;
  z-index: 5000;
}


.nav-menu li, .nav-menu-usr li, ul.nav-menu-deployed li, ul.nav-menu-deployed li a{
  display: none;
  line-height: 30px;
  margin: 20px 10px 0;
  transition: all .5s;
}

ul.nav-menu-deployed li{  
  margin: 20px 0px 0px 20px;
}

.nav-menu, .nav-menu-usr, .nav-menu-deployed{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover,
.nav-menu-usr li a.active, .nav-menu-usr li a:hover,
.nav-menu-deployed li a:active, .nav-menu-deployed li a:hover{
  color: orange;
  transition: .3s;
}

a.nav-menu-deployed{
  
  color:aqua;
}

#check, #checkUsr, #check-menu-deployed{
  display: none;
}

#check:checked ~ .nav-menu, #checkUsr:checked ~ .nav-menu-usr,
#check-menu-deployed:checked ~ ul.nav-menu-deployed{
  height: 100vh;
}

#checkUsr:checked ~ .nav-menu-usr li, #check:checked ~ .nav-menu li,
#check-menu-deployed:checked ~ ul.nav-menu-deployed li a{
  display: block;
}

div.categoria{
  display: flex;
}

div.categoria .icon{
  flex-shrink: 0;
  width: 60px;
  margin: 20px;
}

div.categoria h3{
  width: 280px;
  flex-shrink: 0;
  align-self: center;
}

/*-----------------------PREVIEW NOVEDADES-----------------------------------*/
.novedades{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 611px;
  background-image: url(/img/img-games/FondoTecno.png);
  align-items: center;
}

.contenedor-novedades .titulo-novedades{
  padding: 20px;
}
.contenedor-novedades h1{
  font-size: 64px;
}
.contenedor-novedades .contenedor-card-preview{
  border: solid;
  border-color: var(--Color-GreyL3);
  border-radius: 25px;
  width: 80%;
}

.contenedor-novedades .contenedor-card-preview img{
  border-radius: 22px 0px 0px 22px;
  height: 100%;

}

.contenedor-novedades .contenedor-card-preview{
  display: flex;
  align-items: right;
  flex-direction: row;
}

.contenedor-novedades .contenedor-texto-preview{
  display:flex;
  flex-direction: column;
}


/*-----------------------------CARRUSELES---------------------------------------*/

/*contenedor de titulo y controles*/
.contenedor-titulo-controles{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3{
  color:var(--Color-GreyL3);
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores-recomendado button,
.contenedor-titulo-controles .indicadores-accion button,
.contenedor-titulo-controles .indicadores-multijugador button,
.contenedor-titulo-controles .indicadores-deportes button{
  background: var(--Color-GreyL3);
  height: 5px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores-recomendado button:hover,
.contenedor-titulo-controles .indicadores-recomendado button.activo,
.contenedor-titulo-controles .indicadores-accion button:hover,
.contenedor-titulo-controles .indicadores-accion button.activo,
.contenedor-titulo-controles .indicadores-multijugador button:hover,
.contenedor-titulo-controles .indicadores-multijugador button.activo,
.contenedor-titulo-controles .indicadores-deportes button:hover,
.contenedor-titulo-controles .indicadores-deportes button.activo
{
  background: red;
}

 /*contenedor principal y flechas*/
 .carrusel-categorias{
    margin-bottom: 70px;
 }

 .carrusel-categorias .contenedor-principal{
    display:flex;
    align-items: center;
    position: relative;
 }

 .carrusel-categorias .contenedor-principal .flecha-izq,
 .carrusel-categorias .contenedor-principal .flecha-der{
    /*position: absolute;*/
    border: none;
    background: rgba(0,0,0,.3);
    font-size: 40px;
    height: 50%;
    top: calc(50%-25%);
    line-height: 40px;
    /*width: 50px;*/
    color: #FFFFFF;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
 }

 .carrusel-categorias .contenedor-principal .flecha-izq{
    left:0;
 }

 .carrusel-categorias .contenedor-principal .flecha-der{
    right: 0;
 }

 .carrusel-categorias .contenedor-principal .flecha-izq:hover,
 .carrusel-categorias .contenedor-principal .flecha-der:hover{
    background: rgba(0,0,0,.95);
 }

 /*Carrusel*/

 .oculto {
  display:none;
 }

 .carrusel-categorias .contenedor-carrusel-recomendado,
 .carrusel-categorias .contenedor-carrusel-accion,
 .carrusel-categorias .contenedor-carrusel-multijugador,
 .carrusel-categorias .contenedor-carrusel-deportes{
  width: 100%;
  padding: 20px 0px;
  overflow: hidden;
  scroll-behavior: smooth;  
 }

 .carrusel-categorias .contenedor-carrusel-recomendado .carrusel,
 .carrusel-categorias .contenedor-carrusel-accion .carrusel,
 .carrusel-categorias .contenedor-carrusel-multijugador .carrusel,
 .carrusel-categorias .contenedor-carrusel-deportes .carrusel{
  display:flex;
  flex-wrap: nowrap;  
 }

 .carrusel-categorias .contenedor-carrusel-recomendado .carrusel .juego-recomendado
 .carrusel-categorias .contenedor-carrusel-accion .carrusel .juego-accion,
 .carrusel-categorias .contenedor-carrusel-multijugador .carrusel .juego-multijugador,
 .carrusel-categorias .contenedor-carrusel-deportes .carrusel .juego-deportes{
  min-width: 33.33%;
  transition: .3s ease all;
  /*box-shadow: 5px 5px 10px rgba(0,0,0,.3);*/
 }

 .carrusel-categorias .contenedor-carrusel-recomendado .carrusel .juego-recomendado{
  min-width: 100%;
  text-align: -webkit-center;
 } 

 .carrusel-categorias .contenedor-carrusel-recomendado .carrusel .juego-recomendado.hover,
 .carrusel-categorias .contenedor-carrusel-accion .carrusel .juego-accion.hover,
 .carrusel-categorias .contenedor-carrusel-multijugador .carrusel .juego-multijugador.hover,
 .carrusel-categorias .contenedor-carrusel-deportes .carrusel .juego-deportes.hover{
  transform: scale(1.2);
  transform-origin: center; 
}

/*----------------------FOOTER-------------------------------------*/

footer{
  grid-area: footer;
}

.contenedor-ppal-footer{
  display: flex;
  justify-content: space-between;
  padding: 40px 80px 40px 80px;
  background: #270977;
  width: 100%;
  height: 298px;
}

.contenedor-ppal-footer > div li,
.contenedor-ppal-footer > div h3{
  padding-top: 5px;
  padding-bottom: 10px;
}

.contenedor-ppal-footer .cont-redes{
  width: 306px;
  height: 218px;
  text-align: center;
}

.contenedor-ppal-footer .cont-redes .icons-redes-footer{
display: flex;
justify-content: center;
}

.contenedor-ppal-footer .cont-redes .icons-redes-footer img{
 
  width: 70px;
  height: 70px;
}

.contenedor-ppal-footer .cont-redes .logos-redes{
  background: #7B5BCD;
  width: 286px;
  height: 149px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
}

.contenedor-ppal-footer .cont-redes .logos-redes .icons-redes-footer > div{
  padding: 10px;
} 

.contenedor-ppal-footer .cont-redes .input-buscar{
  width: 286px;
  height: 50px;
  position:relative;
}

.contenedor-ppal-footer .cont-redes .input-box-buscar::placeholder{
  color: #555555;
  padding-left: 10px;
}

.contenedor-ppal-footer .cont-redes .input-box-buscar{
  margin-top: 30px;
  width: 286px;
  height: 42px;
  border-radius: 25px;
}

.contenedor-ppal-footer .cont-redes .input-buscar .input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 100%;
  transform: translateY(-50%);
}


/*@media screen and (max-width: 800px) {
  .carrusel-categorias .contenedor-carrusel-recomendado,
  .carrusel-categorias .contenedor-carrusel-accion,
  .carrusel-categorias .contenedor-carrusel-multijugador,
  .carrusel-categorias .contenedor-carrusel-deportes{
    overflow: visible;
  }

  /*.carrusel-categorias .contenedor-carrusel-recomendado .carrusel,
  .carrusel-categorias .contenedor-carrusel-accion .carrusel,
  .carrusel-categorias .contenedor-carrusel-multijugador .carrusel,
  .carrusel-categorias .contenedor-carrusel-deportes .carrusel{
    display:grid;
    grid-template-columns: repeat (3, 1fr);
    gap:20px;
  }

  .carrusel-categorias .indicadores-recomendado,
  .carrusel-categorias .indicadores-accion,
  .carrusel-categorias .indicadores-deportes,
  .carrusel-categorias .indicadores-multijugador,
  .carrusel-categorias .flecha-der,
  .carrusel-categorias .flecha-izq{
    display: none;
  }
}*/












